<a href="https://colab.research.google.com/github/siri2007-vennela/DBMS-TASKS/blob/main/dbms_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CricketBoard(BoardID, Name, Address, Contact_No)
1.b.2 Team(TeamID, Name, Coach, Captain)
1.b.3 Player(PlayerID, FName, LName, Age, DateofBirth, PlayingRole, email, contact_no)
1.b.4 Match( MatchID, Date, Time, Result)
1.b.5 Ground(GroundID, Name, Location, Capacity)
1.b.6 Umpire(UmpireID, FName, LName, Age, DateofBirth, Country, email, contact_no)
SQL>create table CricketBoard(BoardID varchar(10) PRIMARY KEY, Name varchar(30), Address varchar(50), Contact_No number);
SQL> create table Team(TeamID varchar(6) PRIMARY KEY, BoardID varchar(10), Name varchar(30), Coach varchar(30), Captain varchar(30), FOREIGN KEY(BoardID) REFERENCES CricketBoard(BoardID));
SQL> CREATE table Player(PlayerID varchar(6) PRIMARY KEY, TeamID varchar(6),  FName varchar(30), LName varchar(30), Age number(5,2), DateofBirth date, PlayingRole varchar(25), email varchar(40), contact_no number, FOREIGN KEY(TeamID) REFERENCES Team(TeamID));
SQL> create table Match( MatchID varchar(10), TeamID1 varchar(6), TeamID2 varchar(6), PlayerID varchar(6), Match_Date date, Time1 number, Result varchar(20), PRIMARY KEY(MatchID,PlayerID), FOREIGN KEY(TeamID1) REFERENCES team(TeamID), FOREIGN KEY(TeamID2) REFERENCES team(TeamID), FOREIGN KEY(PlayerID) REFERENCES Player(PLayerID));
SQL> create table Ground(GroundID varchar(10) PRIMARY KEY, MatchID Varchar(10), Name varchar(30), Location varchar(30), Capacity number, FOREIGN KEY(MatchID) REFERENCES Match(MatchID));
SQL> Create Table Umpire(UmpireID varchar(10) PRIMARY KEY, FName varchar(30), LName varchar(30), Age number(5,2), DateofBirth date, Country varchar(30), email varchar(40), contact_no number);SQL> create table Umpire_Umpired(UmpireID varchar(10), MatchID Varchar(10), GroundID varchar(10), FOREIGN KEY(UmpireID) REFERENCES Umpire(UmpireID), FOREIGN KEY(MatchID) REFERENCES Match(MatchID), FOREIGN KEY(GroundID) REFERENCES Ground(GroundID));
SQL> Alter table Umpire RENAME column contact_no TO phone_no;
where SQL> Select playerID, FName, LName from player where Bowling='left-hand';
SQL> select a.UmpireID from Umpire a where UmpireID NOT IN(select UmpireID from Umpire_Umpired);
SQL> SELECT t.TeamID, t.Name AS TeamName, t.Coach, t.Captain, COUNT(m.MatchID) AS WinningMatchCount FROM Team t LEFT JOIN Match m ON t.TeamID = substr(m.result,1,5) GROUP BY t.TeamID, t.Name, t.Coach, t.Captain;
SQL> SELECT t.Name AS TeamName, COUNT(*) AS TotalTieMatches FROM Team t JOIN Match_result mt ON t.TeamID = mt.TeamID JOIN Match_result m ON mt.MatchID = m.MatchID WHERE m.Result = 'Tie' GROUP BY t.Name;
SQL> SELECT p.PlayerID, p.FName AS PlayerName, p.Age, m.MatchID, m.match_Date, m.Time1, m.Result FROM Player p, match m where p.playerID in(select playerID from player where age>25);

SQL> select * from team where teamID not in(select teamid from match Union select playerId from match);SQL> SELECT cb.Name AS CricketBoard, t.Name AS Team FROM CricketBoard cb JOIN Team t ON cb.BoardID = t.BoardID;
SQL> SELECT m.match_Date, m.Time1, m.matchID, t1.name AS team1_name, t1.captain AS team1_captain, t2.name AS team2_name, t2.captain AS team2_captain FROM match m JOIN team t1 ON m.teamID = t1.teamID JOIN team t2 ON m.playerID = t2.teamID;
SQL> SELECT p.playerID, p.fname, p.teamID, t.coach, t.captain FROM player p JOIN team t ON p.teamID = t.teamID WHERE t.name = 'TIGER ROCK';
SQL> SELECT t.TeamID, t.Name AS TeamName, t.Coach, t.Captain, COUNT(m.MatchID) AS WinningMatchCount FROM Team t LEFT JOIN Match m ON t.TeamID = substr(m.result,1,5) GROUP BY t.TeamID, t.Name, t.Coach, t.Captain;
DECLARE
    total_age NUMBER := 0;
    num_players NUMBER := 0;
    avg_age NUMBER := 0;
BEGIN
    -- Using a cursor to loop through all players
    FOR player_rec IN (SELECT Age FROM Player) LOOP
        total_age := total_age + player_rec.Age; -- Summing up the ages
        num_players := num_players + 1; -- Counting the number of players
    END LOOP;

    -- Calculating the average age
    IF num_players > 0 THEN
        avg_age := total_age / num_players;
    END IF;

    -- Displaying the result
    DBMS_OUTPUT.PUT_LINE('Total Players: ' || num_players);
    DBMS_OUTPUT.PUT_LINE('Total Age: ' || total_age);
    DBMS_OUTPUT.PUT_LINE('Average Age: ' || avg_age);
END;

CREATE OR REPLACE FUNCTION GetTotalTeamsInBoard(BoardID VARCHAR2) RETURN NUMBER IS
    v_TotalTeams NUMBER := 0;
BEGIN
    SELECT COUNT(*) INTO v_TotalTeams FROM Team WHERE BoardID = BoardID;
    RETURN v_TotalTeams;
EXCEPTION
    WHEN NO_DATA_FOUND THEN
        -- Handle the case when the board doesn't exist or has no teams
        RETURN 0;
    WHEN OTHERS THEN
        -- Handle other exceptions as needed
        RETURN -1; -- Return a negative value to indicate an error
END GetTotalTeamsInBoard;
/

db.createCollection("CricketBorad")
{ "ok" : 1 }
> db.CricketBoard.insertOne({BoardID: "BID01", Name:"Chennai Cricket Board", Address:"Chennai",Phone:9988776699});
{
        "acknowledged" : true,
        "insertedId" : ObjectId("651cf1726ebbfe7993adf909")
}
db.mylab.find({BoardID:"BID01"})
{ "_id" : ObjectId("651cf1726ebbfe7993adf909"), "BoardID" : "BID01", "Name" : "Chennai Cricket Board", "Address" : "Chennai", "Phone" : 9988776699 }

match(p1:Player{PlayerID:'1'}),(t1:Team{teamID:'CCB01'}) create(p1)-[r1:playfor]->(t1) return p1,r1,t1
match(p2:Player{PlayerID:'33'}),(t1:Team{teamID:'CCB01'}) create(p2)-[r2:playfor]->(t1) return p2,r2,t1
match(p3:Player{PlayerID:'65'}),(t2:Team{teamID:'CCB02'}) create(p3)-[r3:playfor]->(t2) return p3,r3,t2
match(p4:Player{PlayerID:'75'}),(t2:Team{teamID:'CCB02'}) create(p3)-[r4:playfor]->(t2) return p4,r4,t2